@import "base.css";
header{
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 9999;
    height: 67px;
}
.header{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.header h2{
    float: left;
    margin-top: 15px;
    display: inline;
}
.header ul{
    float: right;
    margin-top: 20px;
    display: inline;
}
.header ul li{
    float: left;
    font-size: 16px;
    margin-right: 50px;
    display: inline;
}
.header ul li a{
    color: #555;
    text-decoration: none;
}
.header ul li a:hover{
    color: #f20039;
}
.header ul li a.red{
    color: #f20039;
}
.zhanshi{
    width: 100%;
    background: #f6f6f6;
    padding: 35px 0;
    height: auto;
    overflow: hidden;
    padding-top: 80px;
}
.zhanshi .case .title{
    text-align: center;
    width: 100%;
    padding-bottom: 35px;
}
.zhanshi .case .title h3{
    font-size: 28px;
    color: #e20040;
}
.zhanshi .case .title span{
    font-size: 16px;
    color: #888;
    line-height: 28px;
}
.zhanshi .case .title p{
    line-height: 28px;
    font-size: 14px;
}
.zhanshi .case .list{
    text-align: center;
    margin-left: 36%;
    padding-bottom: 25px;
}
.zhanshi .case .list ul li{
    float: left;
    margin-right: 5%;
    font-size: 14px;
}
.zhanshi .case .list ul li a{
    color: #555;
    text-decoration: none;
}
.zhanshi .case .list ul li a:hover{
    color: #f20039;
}
.zhanshi .case .box{
    width: 98%;
    height:630px;
    padding: 0 3%;
}
.zhanshi .case .box ul{
    list-style: none;
    position: relative;
    margin: 0 0 25px 0;
    padding: 0;
    margin-left: 15px;
    height:auto;
}
.zhanshi .case .box ul li{
    float: left;
    margin-bottom: 35px;
    display: inline;
    margin-right: 15px;
    width: 23%;
    height: 280px;
    position: relative;
    overflow: hidden;
}
.zhanshi .case .box ul li a{
    display: block;
    color: #fff;
    width:100%;
    height:100%;
}
.zhanshi .case .box ul li a img{
    display: block;
    position: relative;
    width: 100%;
    height:100%;
}
.zhanshi .case .box ul li a .hot_info{
    position: absolute;
    background: url(../img/case-bg.png);
    width: 100%;
    height: 100%;
    text-align: center;
}
.zhanshi .case .box ul li a .hot_info h2{
    font-size: 20px;
    margin-top: 26%;
    font-weight: normal;
    text-align: center;
}
.zhanshi .case .box ul li a .hot_info span{
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}
.zhanshi .case .box ul li a .hot_info p{
    background: url(../img/case-more.png) no-repeat;
    width: 41px;
    height: 41px;
    margin-left: 45%;
    margin-top: 5%;
}
.zhanshi .case .more{
    height:21px;
    text-align: center;
    font-size: 16px;
    padding-top: 0;
}
.zhanshi .case .more a{
    text-decoration: none;
    background: url(../img/case-jt.png) no-repeat right center;
    padding-right: 15px;
    color: #555;
}
footer{
    width: 100%;
    padding: 30px 0;
    height: auto;
    overflow: hidden;
}
footer .footer-1200{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
footer .footer-1200 .footer-jt{
    background: url(../img/bottom-jt1.png) no-repeat center top;
    width: 57px;
    height: 29px;
    display: block;
    margin-left: 260px;
    text-align: center;
}
footer .footer-1200 .footer-link{
    margin: 35px 0 50px 220px;
    padding-bottom: 15px;
}
footer .footer-1200 .footer-link ul{
    width: auto;
    height: 21px;
    margin-left: 12px;
}
footer .footer-1200 .footer-link ul li{
    float: left;
    margin-right: 20px;
    display: inline;
    text-align: center;
}
footer .footer-1200 .footer-link ul li a.wb{
    background: url(../img/sina-icon1.png) no-repeat;
    width: 25px;
    height: 21px;
    display: block;
}
footer .footer-1200 .footer-link ul li a.wx{
    background: url(../img/weixin-icon1.png) no-repeat;
    width: 26px;
    height: 21px;
    display: block;
}
footer .footer-1200 .footer-link ul li a.qq{
    background: url(../img/qq-icon1.png) no-repeat;
    width: 25px;
    height: 21px;
    display: block;
}
footer .footer-1200 .footer-link ul li a.wb:hover{
    background: url(../img/sina-icon2.png) no-repeat;
}
footer .footer-1200 .footer-link ul li a.wx:hover{
    background: url(../img/weixin-icon2.png) no-repeat;
}
footer .footer-1200 .footer-link ul li a.qq:hover {
    background: url(../img/qq-icon2.png) no-repeat;
}